<div class="nested-fields">
  <div>
      <%= f.label :participating_users %>
      <%= f.select :user_id, options_from_collection_for_select(User.all, :id, :email), :include_blank => true %>
  </div>
  <%= link_to_remove_association "Borrar", f %>


</div>