%table.table
  %thead
    %tr
      %th{scope: "col"} #
      %th{scope: "col"} Name
      %th{scope: "col"} Description
      %th{scope: "col"} Due_Date
  %tbody
    - @tasks.each do |task|
      %tr
        %td task.name
        %td task.description
        %td task.due_date

= link_to 'Nueva Tarea', new_task_path
