<div class="row">
  <div class="col-md-6 ">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title"><%= @category.name%></h5>
        <p class="card-text"><%= @category.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><p><small><em><%= "#{@category.tasks.count} tareas" %></em></small></p></li>
      </ul>
      <div class="card-body">
        <a><%= link_to 'Editar Categoría', edit_category_path(@category), class: 'btn btn-primary my-3' %></a>
      </div>
    </div>
  </div>
</div>